@using E_CommerceLivraria.Enums
@model Customer
@{
    Layout = "~/Views/Shared/_PublicProfileLayout.cshtml";
    ViewData["Title"] = "Histórico de compras";
    ViewData["CSSFile"] = "~/css/customer/profile/purchases/purchaseList.css";
    var purchases = Model.Purchases.ToList();
}
<div class="purchasesList">
    <h1>Compras</h1>
    @for (int i = 0; i < purchases.Count; i += 2)
    {
        <div class="pchRow">
            @for (int y = i; (y < i + 2) && (y < purchases.Count); y++)
            {
                var purchase = purchases[y];
                <div class="pchInstance">
                    <div class="infoActions">
                        <div class="txtInfo">
                            <h2>@(((EStatus)purchase.PrcStatus).ToString().Replace("_"," "))</h2>
                            <h3>Última atualização: @purchase.PrcDate.ToShortDateString()</h3>
                            <h3>Preço: R$@purchase.PrcTotalPrice.ToString("F2")</h3>
                        </div>
                        <div class="actions">
                            <a asp-controller="ProfilePurchase" asp-action="DetailedPurchaseList" asp-route-PrcId="@purchase.PrcId">
                                <button>Visualizar Compra</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>