.paymentBody {
    display: flex;
    justify-content: space-between;

    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.bigPayBody {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    width: 70vw;
}

.payTitle {
    display: flex;
    flex-direction: column;

    background-color: lightgray;
    border-radius: 10px;
    width: 100%;
    padding: 1.5%;
    border: 2px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

    .payTitle h1 {
        font-size: 2.75vw;
        font-weight: 400;
        text-align: center;
        margin-bottom: 0vh;
    }

.promoCoupon {
    display: flex;
    justify-content: center;
    flex-direction: row;

    background-color: lightgray;
    width: 100%;
    padding: 1.25%;
    border: 2px solid black;
    border-radius: 10px;
}

    .promoCoupon div {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .promoCoupon label {
        font-weight: 400;
        font-size: 1.5vw;
        margin-right: 0.33vw;
    }

    .promoCoupon input {
        font-weight: 300;
        font-size: 1.25vw;
        width: 15%;
    }

    .promoCoupon table {
        border: 2px solid black;
    }

    .promoCoupon table th {
        text-align: center;
        width: 4.5vw;
        border-right: 2px solid black;
        background-color: gray;
    }

    .promoCoupon table td {
        border-right: 2px solid black;
        width: 7vw;
        background-color: white;
    }

        .promoCoupon table .rm {
            width: auto;
        }

.choosenInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
}

    .choosenInfo .choosenData {
        width: 47.5%;
    }

        .choosenInfo .choosenCoupons {
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            border: 2px solid black;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        }

        .choosenInfo .choosenCards {
            background-color: rgb(255, 255, 255);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 2px solid black;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        }

            .choosenInfo .addCard {
                width: 100%;
                font-weight: 400;
                font-size: 1.25vw;
                background-color: black;
                color: white;
                border-top: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            
                transition-duration: 0.2s;
            }

                .choosenInfo .addCard:hover {
                    background-color: white;
                    color: black;
                }

    .choosenInfo .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: gray;
        padding: 1.25%;
        padding-bottom: 0%;
        border-bottom: 2px solid black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

        .choosenInfo .title h2 {
            font-weight: 300;
            font-size: 2.4vw;
            color: white;
        }

        .choosenInfo select {
            font-weight: 400;
            border-radius: 3px solid white;
            height: 5vh;
        }

    .choosenInfo table {
        width: 100%;
    }

        .choosenInfo th {
            background-color: gray;
            border-bottom: 2px solid black;
        }

        .choosenInfo tr:nth-child(even) {
            background-color: rgb(255, 255, 255);
        }

        .choosenInfo tr:nth-child(odd) {
            background-color: lightgray;
        }

        .choosenInfo table input {
            font-size: 1.2vw;
            width: 5vw;
            margin-right: 0%;
        }

            .choosenInfo table input::-webkit-outer-spin-button,
            .choosenInfo table input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

.price {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1.5vh;

    height: 65vh;
    width: 20vw;
    padding: 2%;
    background-color: lightgray;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

    .price h2 {
        font-size: 1.25vw;
        font-weight: 400;
    }

        .price .finalPrice h2 {
            font-size: 1.66vw;
        }

    .price h1 {
        font-size: 1.85vw;
        font-weight: 300;
    }
    
        .price .finalPrice h1 {
            font-size: 2.25vw;
        }

    .price button {
        width: 100%;
        font-weight: 500;
        font-size: 1.5vw;
        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 10px;
    
        transition-duration: 0.2s;
    }

        .price button:hover {
            background-color: black;
            color: white;
        }