@using E_CommerceLivraria.Models.ModelsStructGroups.AddressSG
@model CreateCtmAddressData
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "Adicionar endereço de entrega";
    ViewData["CSSFile"] = "~/css/customer/address/createAddress.css";
}
<br>
<button class="backBtn" onclick="history.go(-1); return false;">Voltar</button>
<div class="bigBody">
    <div class="addressBody">
        <h1>Selecione o endereço de entrega</h1>
        <form asp-controller="CtmPayment" asp-action="CreateAddress">
            <input type="number" value="@Model.CtmId" asp-for="CtmId" hidden />
            <input type="text" value="@Model.RedirectTo" asp-for="RedirectTo" hidden />

            <div class="addressData">
                <div class="line r_gap">
                    <div class="rType">
                        <label for="rType">Tipo de Residência:</label>
                        <select id="rsType" asp-for="Address.AddRstId" asp-items="@(new SelectList(Model.ResidenceTypes, "RstId", "RstName"))">
                        </select>
                    </div>
                    <div class="ppType">
                        <label for="ppType">Tipo de Logradouro:</label>
                        <select id="ppType" asp-for="Address.AddPptId" asp-items="@(new SelectList(Model.PublicplaceTypes, "PptId", "PptName"))">
                        </select>
                    </div>
                    <div class="pp">
                        <label for="pp">Logradouro:</label>
                        <input type="text" id="pp" asp-for="Address.AddPublicPlace" required>
                    </div>
                    <div>
                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" asp-for="Address.AddCepStyled" maxlength="9" value="" style="width: 6.5vw;" required>
                    </div>
                </div>
                <div class="line sp_between">
                    <div class="number">
                        <label for="num">Nº:</label>
                        <input type="number" id="num" min="1" max="9999" asp-for="Address.AddNumber" required>
                    </div>
                    <div class="neighborhood">
                        <label for="neigh">Bairro:</label>
                        <input type="text" id="neigh" asp-for="Address.AddNbh.NbhName" required>
                    </div>
                    <div class="city">
                        <label for="city">Cidade:</label>
                        <input type="text" id="city" asp-for="Address.AddNbh.NbhCty.CtyName" required>
                    </div>
                    <div class="state">
                        <label for="state">Estado:</label>
                        <input type="text" id="state" asp-for="Address.AddNbh.NbhCty.CtyStt.SttName" required>
                    </div>
                    <div class="country">
                        <label for="country">País:</label>
                        <input type="text" id="country" asp-for="Address.AddNbh.NbhCty.CtyStt.SttCtr.CtrName" required>
                    </div>
                </div>
                <div class="line">
                    <div>
                        <label for="shortPhrase">Frase curta:</label>
                        <input type="text" id="shortPhrase" asp-for="Address.AddShortPhrase">
                    </div>
                </div>
                <div class="line observationsDiv">
                    <div>
                        <label for="obs">Observações:</label>
                        <textarea id="obs" class="observationsTxt" asp-for="Address.AddObservations"></textarea>
                    </div>
                </div>
                <div class="line associate">
                    <div class="r_checkbox">
                        <input type="checkbox" id="associateBtn" asp-for="AddToAccount">
                        <label for="associateBtn">Associar a minha conta</label>
                    </div>
                </div>
            </div>
            <br>
            <button>Salvar endereço</button>
        </form>
    </div>
</div>