@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "Loja";
    ViewData["CSSFile"] = "~/css/customer/home/home.css";
}
<br>
<div class="preparedFilters">
    <div class="rows">
        <h1 class="sectionTitle">Best-Sellers</h1>
        <div class="items">
            <div class="section">
                <img src="/books_images/a_metamorfose.jpg" alt="">
                <h1>A Metamorfose</h1>
                <h2>Franz Kafka</h2>
            </div>
            <div class="section">
                <img src="/books_images/amanhecer_na_colheita.jpg" alt="">
                <h1>Amanhecer na Colheita</h1>
                <h2>Suzanne Collins</h2>
            </div>
            <div class="section">
                <img src="/books_images/bridgerton_o_visconde_que_me_amava.jpg" alt="">
                <h1>Bridgerton - O Visconde que Me Amava</h1>
                <h2>Julia Quinn</h2>
            </div>
            <div class="section">
                <img src="/books_images/cafe_com_deus_pai_2025_porcoes_diarias_de_transformacao.jpg" alt="">
                <h1>Café com Deus Pai</h1>
                <h2>Júnior Rostirola</h2>
            </div>
            <div class="section">
                <img src="/books_images/pai_rico_pai_pobre.jpg" alt="">
                <h1>Pai Rico Pai Pobre</h1>
                <h2>Kiyosaki Robert T</h2>
            </div>
        </div>
    </div>
</div>
<div class="preparedFilters">
    <div class="rows">
        <h1 class="sectionTitle">Sua Categoria Favorita: Terror</h1>
        <div class="items">
            <div class="section">
                <img src="/books_images/como_sobreviver_a_um_filme_de_terror.jpg" alt="">
                <h1>Como Sobreviver um Filme de Terror</h1>
                <h2>Scarlett Dunmore</h2>
            </div>
            <div class="section">
                <img src="/books_images/ninguem_vai_te_ouvir_gritar.jpg" alt="">
                <h1>Ninguém Vai Te Ouvir Gritar</h1>
                <h2>Mark Miller</h2>
            </div>
            <div class="section">
                <img src="/books_images/dracula_bram_stoker.jpg" alt="">
                <h1>Drácula</h1>
                <h2>Bram Stoker</h2>
            </div>
            <div class="section">
                <a href="product/product.html">
                    <img src="/books_images/o_rei_de_amarelo_darkside.jpg" alt="">
                    <h1>O Rei de Amarelo (Versão Definitiva)</h1>
                    <h2>Robert W. Chambers</h2>
                </a>
            </div>
            <div class="section">
                <img src="/books_images/o_iluminado.jpg" alt="">
                <h1>O Iluminado</h1>
                <h2>Stephen King</h2>
            </div>
        </div>
    </div>
</div>
