@using E_CommerceLivraria.Models
@model List<Address>
@{
    Layout = "~/Views/Shared/_PublicProfileLayout.cshtml";
    ViewData["Title"] = "Endereços";
    ViewData["CSSFile"] = "~/css/customer/profile/address/profileAddressList.css";
}
<div class="addressList">
    <h1>Endereços de entrega</h1>
    <div class="addRow">
        <div class="addInstance">
            <div>
                <h2>Nº 1111 - Vila Virgínia, Itaquaquecetuba</h2>
                <h3>CEP 11111-111 - São Paulo, Brasil</h3>
                <h3>Apartamento, Praça da Fé</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
        <div class="addInstance">
            <div>
                <h2>Nº 222 - Jardim Camila, Mogi das Cruzes</h2>
                <h3>CEP 22222-222 - São Paulo, Brasil</h3>
                <h3>Apartamento, Avenida Verde</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
    </div>
    <div class="addRow">
        <div class="addInstance">
            <div>
                <h2>Nº 33 - Jardim Ivone, Poá</h2>
                <h3>CEP 33333-333 - São Paulo, Brasil</h3>
                <h3>Casa, Aeroporto Melo</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
        <div class="addInstance">
            <div>
                <h2>Nº 4 - Albany, Elmira</h2>
                <h3>CEP 44444-444 - Nova Iorque, Estados Unidos</h3>
                <h3>Apartamento, Praça da Fé</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
    </div>
    <div class="addRow">
        <div class="addInstance">
            <div>
                <h2>Nº 1111 - Vila Virgínia, Itaquaquecetuba</h2>
                <h3>CEP 11111-111 - São Paulo, Brasil</h3>
                <h3>Apartamento, Praça da Fé</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
        <div class="addInstance">
            <div>
                <h2>Nº 222 - Jardim Camila, Mogi das Cruzes</h2>
                <h3>CEP 22222-222 - São Paulo, Brasil</h3>
                <h3>Apartamento, Avenida Verde</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
    </div>
    <div class="addRow">
        <div class="addInstance">
            <div>
                <h2>Nº 33 - Jardim Ivone, Poá</h2>
                <h3>CEP 33333-333 - São Paulo, Brasil</h3>
                <h3>Casa, Aeroporto Melo</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
        <div class="addInstance">
            <div>
                <h2>Nº 4 - Albany, Elmira</h2>
                <h3>CEP 44444-444 - Nova Iorque, Estados Unidos</h3>
                <h3>Apartamento, Praça da Fé</h3>
            </div>
            <div class="addOptions">
                <button>Visualizar</button>
                <button class="remove">Remover</button>
            </div>
        </div>
    </div>
</div>