<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/admin/layout.css" asp-append-version="true">
    <link rel="stylesheet" href="@ViewData["CSSFile"]" asp-append-version="true">

    <title>@ViewData["Title"] - Admin</title>
</head>
<body>
    <header>
        <div id="headerContent" class="header1">
            <div>
                <h1>NextPage (Administrador)</h1>
            </div>
            <div class="logout">
                <a asp-controller="Home" asp-action="homePage">
                    <img src="~/resources/images/icons/icons8-sair-96.png" alt="">
                </a>
            </div>
        </div>
        <div class="navbarOptions">
            <div class="menuItem">
                <div class="trigger" id="customerNavOpts">Cliente</div>
                <div class="hidden-links">
                    <a asp-controller="AdmCustomer" asp-action="Read" id="readCtmNavOpts" class="link">Consultar</a>
                    <a asp-controller="AdmCustomer" asp-action="CreateCustomerPage" id="registerCtmNavOpts" class="link">Cadastrar</a>
                </div>
            </div>
            <div class="menuItem">
                <div class="trigger" id="requestsNavOpt">Pedidos</div>
                <div class="hidden-links">
                    <a asp-controller="AdmPurchases" asp-action="PurchasesList" id="purchasesNavOpt" class="link">Compras</a>
                    <a asp-controller="AdmExchanges" asp-action="ExchangesList" id="exchangesNavOpt" class="link">Trocas</a>
                </div>
            </div>
            <div class="menuItem">
                <a class="noDrop" asp-controller="Analysis" asp-action="AnalysisPage" id="analysisNavOpt">
                    <div class="trigger">Análise</div>
                </a>
            </div>
            <div class="menuItem">
                <a class="noDrop" asp-controller="AdmPromotionalCoupons" asp-action="PromoCouponsPage" id="couponsNavOpt">
                    <div class="trigger">Cupons</div>
                </a>
            </div>
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/admin/layout.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
